[user]
	name = llj098
	email = llj098@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
